#spinner {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.396);
  top: 0;
  left: 0;
  color: skyblue;
  z-index: 1051;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

nav {
  background-color: rgba(0, 191, 255, 0.592);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  color: white;
  position: relative;
  top: 0;
  width: 100%;
  margin-bottom: 50px;
  z-index: 1;
}
nav .container {
  max-width: 1800px;
}
nav a {
  color: white;
  font-size: 20px;
}
nav i {
  font-size: 30px;
}
nav button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
}
nav .nav-link:hover {
  padding: 10px 10px;
  background-color: rgba(240, 248, 255, 0.123);
  color: darkblue;
  border-radius: 5px;
}
nav .nav-link {
  padding: 10px 10px;
}

#product_search {
  width: 95%;
}

.seek {
  border: 1px solid black;
  width: 3%;
  padding: 8px;
}

.search_item .container {
  margin-top: 100px;
  max-width: 1400px;
  margin: 0 auto;
}
.search_item .container .product_item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 20px;
  font-size: 14px;
  width: 23%;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  word-wrap: break-word;
}
.search_item .container .product_item:hover {
  transform: scale(105%);
}
.search_item .carosel img {
  width: 10%;
}

.button_container {
  display: flex;
  justify-content: space-between;
}

.sp-thongbao {
  color: red;
}

footer {
  background-color: rgba(0, 191, 255, 0.592);
  color: white;
  border-radius: 5% 5% 0 0;
}
footer .footer_container {
  width: 90%;
  margin: auto;
}
footer .footer_container .footer_item {
  padding: 50px;
  width: 25%;
}
footer .footer_top {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
footer .footer_top i {
  border-radius: 5px;
  border: 1px solid white;
  padding: 8px 8px;
  width: 50px;
  cursor: pointer;
}
footer .footer_top i:hover {
  color: blueviolet;
  transform: scale(150%);
  margin-left: 20px;
  border-color: blueviolet;
}

table tr th {
  background-color: rgba(0, 191, 255, 0.592);
  color: white;
}/*# sourceMappingURL=index.css.map */